
:root {
  --primary-color: #055a05; 
  --secondary-color: #f4a261; 
  --accent1-color: #264653; 
  --accent2-color: #e9c46a; 
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: var()
}

.logo img {
  width: 120px;
}

.nav-bar ul {
  display: flex; 
  gap: 20px;             
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar a {
  text-decoration: none;
  color:whitesmoke;
  font-weight:bold;
  transition: var(--accent1-color)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(#222222);
  color: var(#6B7280);
}
header, main, footer {
  
  margin: 0 auto;
}

h1, h2 {
  font-family: var(#1E3A8A);
  color: var(#4B5563);
}
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}